<div>
      <div className="flex items-center justify-between">
        <h2 className="text-3xl text-text">Add New Product</h2>
        <div className="flex gap-x-3">
          <button className="btn dark:text-text">Save to draft</button>
          <button className="btn bg-[#8A33FD] hover:bg-[#8A33FD] dark:text-text text-white">
            Publish
          </button>
        </div>
      </div>

      <div className="bg-primary px-5 py-5 rounded-lg mt-4">
        <form action="">
          <div className="form-control w-full ">
            <label htmlFor="name" className="label label-text text-text">
              Product Name
            </label>
            <input
              type="text"
              name="name"
              id="name"
              className="input  input-bordered w-full h-10 focus:outline-1 focus:outline-offset-1"
            />
          </div>

          <div>
            <label htmlFor="name" className="label label-text text-text">
              Product Name
            </label>

            <div>
              <input type="color" name="" id="" value="#ff0000" />
            </div>
          </div>

          <button type="submit">Save</button>
        </form>
      </div>
    </div>
